:root {
    --main-color: #393536;
    --secondary-color: #218575;
    --accent-color: #ff680a;
}

.cs-container h1{
    font-size: 66px;
    font-weight: 800;
    color: var(--secondary-color);
}

.cs-container h3{
    color: var(--accent-color);
}

.cs-container a{
    font-size: 45px;
    font-weight: 600;
    color: var(--secondary-color);
}