/* Footer.css */

.footer {
  background-color: #FF680A;
  padding: 20px;
  text-align: center;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 10px;
}

.socialMedia {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color:white;
}

name {
  margin: 0;
  color: white;
  text-align: center;
}


a { 
  display: flex;
  justify-content: center;
  color: white;
  text-align: center;
  padding: 10px;
  
}

p { 
    display: flex;
    justify-content: space-evenly;
    color: white;
    text-align: center;
  }
  @media(max-width:576px) {
    .footer {
        width: 100vw;
        align-items: center;
        justify-content: center;
        margin: 5px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .socialMedia {
      margin-bottom: 5px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      color:white;
    }
    a {
      padding: 0px;
    }
    
    p {
        margin: 0px;
        justify-content: center;
      }
  }